/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Pokemon';
    src: url('assets/Pokemon_Solid.ttf') format('truetype');
}

html {
    background-image: url('assets/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

h2 {
    font-family: 'Pokemon';
    -webkit-text-fill-color: #ffcb05; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2.5px;
    -webkit-text-stroke-color: #2a75bb;
    letter-spacing: 1vh;
    text-align: center;
  }